.slider__banner-outer
  .slider__banner-container
    .slider__banner-wrapper
      each slide in [0,1,2,3,4]
        .slider__banner-slide(style='background-image: url(../../../../assets/img/banner.png)')
          .slider__banner-slide--container
            .slider__banner-slide--row
              h2.slider__banner-text
                | Создадим для Вас <br>
                | посуду любой формы <br>
                | с уникальным дизайном
  .slider__banner-pagination
