- var i = 0;

.slider__collection
  .slider__collection-wrapper
    while i < 5
      .slider__collection-slide(data-index=i++)
        img.slider__collection-img(src="../../../../assets/img/collection.png", alt="")
  .slider__collection-pagination
