.slider__team
  .slider__team-wrapper
    each slider in [0, 1, 2, 3, 4, 5, 6, 7]
      .slider__team-slide
        img.slider__team-img(src="../../../../assets/img/for-1.jpg", alt="")
        p.slider__team-name Александра Нонейм
        p.slider__team-profession дизайнер
.slider__team-navigation
  .slider__team-prev
    img(src="../../../../assets/img/chevron-left.png", alt="")
  .slider__team-next
    img(src="../../../../assets/img/chevron-right.png", alt="")
