- var cards = [{"img": "../../../../assets/img/svg/icon-design.svg", "descr": "Наш дизайнер встретится с Вами, выслушает Ваши пожелания и сформирует представление о подходящем стиле и форме изделий, <span>после встречи</span> Вы оплачиваете аванс 50% от стоимости заказа"},{"img": "../../../../assets/img/svg/icon-agree.svg", "descr": "Разработаем дизайн изделий и согласуем их с Вами"},{"img": "../../../../assets/img/svg/icon-dish.svg", "descr": "Произведем тестовые образцы изделия и предоставим их Вам, <span>после их утверждения</span> Вы оплачиваете оставшиеся 50% от стоимости заказа"},{"img": "../../../../assets/img/svg/icon-package.svg", "descr": "Произведем всю заказанную партию и доставим посуду Вам"}];

.cards__howitworks-outer
  img.cards__howitworks-waves(src="../../../../assets/img/waves/waves__howitworks.png", alt="")
  .container
    .cards__howitworks-wrapper
      each card in cards
        .cards__howitworks
          img.cards__howitworks-logo(src=card.img, alt='')
          p.cards__howitworks-descr !{card.descr}
