- var cards = [{"img": "../../../../assets/img/for-1.jpg", "title": "Для ресторанов, кафе, баров, гостиниц созданная по индивидуальному дизайну посуда", "descr": "это возможность подчеркнуть стиль заведения, сделать подачу блюд уникальной и надолго запомниться гостям"}, {"img": "../../../../assets/img/for-2.jpg", "title": "Для компаний", "descr": "это возможность создать уникальную посуду в корпоративном стиле как для офиса, так и для всевозможных корпоративных мероприятий или подарков для партнеров"}, {"img": "../../../../assets/img/for-3.jpg", "title": "Для частных лиц посуда, созданная по индивидуальному дизайну", "descr": "это отличный подарок на крупные семейные торжества"}];

.cards__for-who__wrapper
  each card in cards
    .cards__for-who
     img.cards__for-who-img(src=card.img, alt="")
     .cards__for-who-body
        h3.cards__for-who-title !{card.title}
        p.cards__for-who-descr  !{card.descr}
