@import "utils/vars";
@import "utils/libs";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/typography";

// @import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  font-style: normal;
  color: $mainFontColor;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.no-scroll {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  &:hover {
    cursor: default;
  }
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input,
button {
  &:focus {
    outline: none;
  }
}

.--afterline {
  position: relative;
  margin: 0 auto 16px;

  &::after {
    position: absolute;
    left: 50%;
    bottom: -16px;
    content: '';
    display: block;
    width: 319px;
    height: 2px;
    border-radius: 5px;
    background-color: #48a490;
    transform: translate(-50%);
  }

  @include media-breakpoint-down('sm') {
    text-align: center;

    &::after {
      width: 100%;
      left: 0;
      transform: translate(0);
    }
  }
}

.no-scroll {
  padding-right: 16px;
  overflow-y: hidden;

  @include media-breakpoint-down('md') {
    padding-right: unset;
  }
}

// Modules:
// example: @import "modules/my-module.scss";
@import "./modules/header";
@import "./modules/footer";
@import "./components/screen/screen__banner";
@import "./components/slider/slider__banner";
@import "./components/screen/screen__advantages";
@import "./components/cards/cards__advantages";
@import "./components/screen/screen__for-who";
@import "./components/cards/cards__for-who";
@import "./components/screen/screen__howitworks";
@import "./components/cards/cards__howitworks";
@import "./components/screen/screen__order";
@import "./components/screen/screen__clients";
@import "./components/slider/slider__clients";
@import "./components/screen/screen__calc";
@import "./modules/calculator";
@import "./components/screen/screen__team";
@import "./components/slider/slider__team";
@import "./modules/modal";
@import "./modules/store";
@import "./modules/pagination";
@import "./modules/breadcrumbs";
@import "./modules/toolbar";
@import "./components/cards/cards__catalogue";
@import "./modules/collection";
@import "./components/slider/slider__collection";
@import "./components/screen/screen__buy";
