@import "utils/vars";
@import "utils/libs";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/typography";

// @import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  font-style: normal;
  color: $mainFontColor;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.no-scroll {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Modules:
// example: @import "modules/my-module.scss";
@import "./modules/header";
@import "./modules/footer";
@import "./components/screen/screen__banner";
@import "./components/slider/slider__banner";
@import "./components/screen/screen__advantages";
@import "./components/cards/cards__advantages";
