section.screen__calc
  img.screen__calc-waves(src="../../../../assets/img/waves/waves__calc.png", alt="")
  .container
    .row
      .col-12
        h2.screen__calc-header.--afterline Калькулятор стоимости заказа
      include ../../modules/calculator
