section.screen__advantages
  .container
    .row
      include ../cards/cards__advantages
      button.screen__advantages-order(data-toggle="modal" data-target="#order") Заказать посуду по индивидуальному дизайну
