section.screen__order.--collection
  img.screen__order-waves(src="../../../../assets/img/waves/waves__order-collection.png", alt="")
  .container
    .row
      .col-12
        h2.screen__order-header.--afterline Оставьте заявку
      form.screen__order-form(action="#", method="post")
        .screen__order-form-body
          h4.screen__order-form-header Оставьте свои данные, наш менеджер перезвонит Вам в течение нескольких минут, для уточнения деталей
          input.screen__order-form-input(type="text" placeholder="Ваше имя" name="name" required)
          input.screen__order-form-input(type="text" placeholder="Ваш телефон" name="phone" required)
          p.screen__order-form-agreement Нажимая на кнопку, Вы даете согласие на обработку Персональных данных
          button.screen__order-form-submit(type='submit') Заказать посуду по индивидуальному дизайну
