.cards {
  &__howitworks {
    @extend .cards__advantages;

    &:nth-child(1),
    &:nth-last-child(1) {
      flex-direction: column-reverse;
    }

    &:nth-child(1) {
      .cards__howitworks-descr {
        margin-bottom: 30px;
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      img {
        margin-bottom: 23px;
      }
    }

    &:nth-child(3) {
      position: relative;
      top: 35px;
    }

    &:nth-last-child(1) {
      position: relative;
      top: 55px;

      .cards__howitworks-descr {
        margin-bottom: 25px;
      }
    }

    &-outer {
      position: relative;
    }

    &-waves {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      z-index: 0;
    }

    &-wrapper {
      @extend .cards__advantages-wrapper;
      @include make-col(12);
      @include make-col-offset(0);
      align-items: center;
    }

    &-descr {
      @extend .cards__advantages-descr;
      margin: 0;
    }
  }
}
