block iteration
 - var i = 0;
 - var j = 4;

section.collection
  include ../components/slider/slider__collection
  .collection__description-wrapper
    h4.collection__description-header.--afterline Описание набора
    p.collection__description
      |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat massa congue ultrices. Nunc vel, nunc elit et eleifend consectetur elit mi. Et arcu nec at varius. Pharetra ut tincidunt faucibus vitae facilisis. Tortor placerat pellentesque vitae justo. Mi penatibus interdum mattis a volutpat massa odio. Arcu egestas risus, tincidunt dignissim auctor. Sit sagittis ut eu urna facilisis scelerisque quam rhoncus. Ornare non a id est elementum urna. Nibh purus fringilla id ultrices faucibus consectetur tempor enim. Lobortis neque volutpat cum mattis lobortis odio.
      |Facilisis velit morbi ornare lorem purus nibh facilisis cursus purus. Porttitor aliquam aliquet quis magna cursus quam id ullamcorper. Mus etiam aliquam posuere enim interdum. Libero sociis risus scelerisque lorem nec viverra ullamcorper fames. Fringilla nisl vel sed eget. Integer arcu vestibulum tortor ac nibh facilisis hendrerit. Massa eu turpis adipiscing risus augue dictum urna tellus ut. Fringilla dictum urna massa diam.
  .collection__table-wrapper
    table.collection__table
      thead.collection__table-head
        tr
          th(scope='col') Состав набора
          th(scope='col') Кол-во
          th(scope='col') Размеры
          th(scope='col') Материал
          th(scope='col') Описание
      tbody.collection__table-body
        tr.collection__table-row
          td(scope='row') Тарелка плоская
          td 40
          td 27 см.
          td Керамика
          td +
        tr.collection__table-row
          td(scope='row') Тарелка плоская
          td 40
          td 27 см.
          td Керамика
          td +
        tr.collection__table-row
          td(scope='row') Тарелка плоская
          td 40
          td 27 см.
          td Керамика
          td +
        tr.collection__table-row
          td(scope='row') Тарелка плоская
          td 40
          td 27 см.
          td Керамика
          td +
  include ../components/screen/screen__buy
