footer.footer
  img.footer__waves(src="../../../assets/img/waves/waves__footer.png", alt="")
  .footer__map#map
  .container
    .row
      .footer__contacts-wrapper
        h4.footer__contacts-header.--afterline Наши контакты
        .footer__contacts
          a.footer__contacts-tel(href="tel:88001231212")
            img(src="../../../assets/img/icon-phone.png", alt="")
            | 8 800 123 12 12
          a.footer__contacts-tel(href="tel:88001231212")
            img(src="../../../assets/img/icon-phone.png", alt="")
            | 8 800 123 12 12
          .footer__socials
            a.footer__socials-icon(href="#" target="_blank")
              img(src="../../../assets/img/icon-facebook.png", alt="")
            a.footer__socials-icon(href="#" target="_blank")
              img(src="../../../assets/img/icon-youtube.png", alt="")
            a.footer__socials-icon(href="#" target="_blank")
              img(src="../../../assets/img/icon-vk.png", alt="")
            a.footer__socials-icon(href="#" target="_blank")
              img(src="../../../assets/img/icon-instagram.png", alt="")
          p.footer__contacts-descr
            img(src="../../../assets/img/icon-pin.png", alt="")
            | г. Москва, ул. Красная площадь дом 1, офис 222
          p.footer__contacts-descr
            img(src="../../../assets/img/icon-clock.png", alt="")
            | Ждем вас с 9.00 до 21.00
          button.footer__button Оставить заявку
block script
  script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
  script(type='text/javascript').
    ymaps.ready(init);
    function init(){
      var myMap = new ymaps.Map("map", {
      center: [55.74814356898691,37.540487999999975],
      controls: [],
      zoom: 17,
      });

      myMap.behaviors.disable('scrollZoom');
    }
