header.header
  .container
    .row
      .header__wrapper
        a(href='#').header__logo
          span YOUR-
          span OWN-
          span DISHWARE
          span .ru
        p.header__text Посуда любой формы с уникальным дизайном
        .header__contacts
          a(href='tel:88001231212').header__contacts-tel 8 800 123 12 12
          button.header__contacts-callback(data-toggle="modal" data-target="#order") Оставить заявку
