.toolbar
  p.toolbar-text СОРТИРОВАТЬ ПО:
  .toolbar__group
    p.toolbar-text Стоимости
    .toolbar__button-wrapper
      button.toolbar__button.is-active
        svg(width='11' height='11' viewbox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M5.375 9.75L5.375 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          path(d='M1 5.375L5.375 1L9.75 5.375' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      button.toolbar__button
        svg(width='11' height='11' viewbox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M5.375 1L5.375 9.75' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          path(d='M1 5.375L5.375 9.75L9.75 5.375' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
  .toolbar__group
    p.toolbar-text Диаметру
    .toolbar__button-wrapper
      button.toolbar__button
        svg(width='11' height='11' viewbox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M5.375 9.75L5.375 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          path(d='M1 5.375L5.375 1L9.75 5.375' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      button.toolbar__button
        svg(width='11' height='11' viewbox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M5.375 1L5.375 9.75' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          path(d='M1 5.375L5.375 9.75L9.75 5.375' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
  .toolbar__group
    p.toolbar-text Производителю
    .toolbar__button-wrapper
      button.toolbar__button
        svg(width='11' height='11' viewbox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M5.375 9.75L5.375 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          path(d='M1 5.375L5.375 1L9.75 5.375' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      button.toolbar__button
        svg(width='11' height='11' viewbox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M5.375 1L5.375 9.75' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          path(d='M1 5.375L5.375 9.75L9.75 5.375' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
