extends ../layout/store

block variables
  - var title = 'dishware';
  - var description = 'Catalogue page';
  - var pageClass = 'catalogue-page';
  - var breadcrumbs = [{"link":"#", "label": "Главная"},{"link":"#", "label": "Каталог товаров"}];
  - var header = 'Каталог товаров';

block content
  include ../includes/modules/toolbar
  block iteration
    - var i = 0;
    - var j = 12;
  include ../includes/components/cards/cards__catalogue
