extends ../layout/index

block variables
  - var title = 'dishware';
  - var description = 'Main page';
  - var pageClass = 'index-page';

block content
  include ../includes/components/screen/screen__banner
  include ../includes/components/screen/screen__advantages
