extends ../layout/index

block variables
  - var title = 'dishware';
  - var description = 'Main page';
  - var pageClass = 'index-page';

block content
  include ../includes/components/screen/screen__banner
  include ../includes/components/screen/screen__advantages
  include ../includes/components/screen/screen__for-who
  include ../includes/components/screen/screen__howitworks
  include ../includes/components/screen/screen__order
  include ../includes/components/screen/screen__clients
