.calculator {
  &__outer {
    @include make-col-ready();
    @include make-col(10);
    @include make-col-offset(1);
    padding-top: 40px;
  }

  &__wrapper {
    width: 100%;
    padding: 0 17px;
  }

  &__radio {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    &-wrapper {
      display: flex;
      justify-content: space-evenly;
    }

    &:hover {
      cursor: pointer;
    }

    &-input {
      position: absolute;
      top: 0;
      display: none;
      opacity: 0;
      border: none;
      width: 0;
      height: 0;

      &:checked {
        ~ .calculator__radio-icon {
          .to-fill {
            fill: #48a490;
          }
        }
      }
    }

    &-name {
      margin-top: 20px;
      @extend .text__regular;
      color: #0f3b47;
    }
  }

  &__input {
    position: relative;
    @extend .screen__order-form-input;
    padding-left: 32px;
    padding-right: 32px;
    flex: 0 0 49%;
    text-align: left;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  &__select {
    position: relative;
    transition: all 0.5s ease;

    select {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &-selected {
      position: relative;
      cursor: pointer;
      z-index: 2;
    }

    &-chevron {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.5s ease;

      &.--rotate {
        transform: rotate(180deg) translateY(50%);
      }
    }

    &-items {
      div {
        cursor: pointer;
        margin-top: 16px;
      }
    }

    &-items {
      position: absolute;
      top: 33px;
      left: -1px;
      width: calc(100% + 2px);
      height: auto;
      padding: 0px 32px 27px;
      background-color: #fff;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border: 1px solid #0489a8;
      border-top: none;
      z-index: 1;
      transition: all 0.5s ease;
      transform-origin: 35px;
    }

    &-hide {
      top: 65px;
      height: 0;
      border: none;

      div {
        display: none;
      }
    }
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 24px auto 34px;
    padding: 21px 11px 20px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(90deg, #acd8f5 0%, #88d8cf 100%);
    @extend .text__button;
    color: #0f3b47;

    span {
      margin-left: 16px;
      color: #0f3b47;
      font-size: 35px;
      font-weight: 400;
      letter-spacing: 0.75px;
      text-transform: uppercase;
    }
  }

  &__price {
    margin-bottom: 30px;
    @extend .header__h4;
    text-align: center;
    text-transform: uppercase;

    span {
      color: #0489a8;
      font-weight: bold;
    }
  }
}
