.footer {
  position: relative;
  height: 961px;
  clip-path: polygon(0 19%, 100% 0, 100% 100%, 0 100%);

  @include media-breakpoint-down('xl') {
    height: 100%;
  }

  @include media-breakpoint-down('md') {
    display: flex;
    flex-direction: column;
  }

  &__waves {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 961px;
    opacity: .35;
    z-index: -1;

    @include media-breakpoint-down('xl') {
      height: 100%;
      object-fit: fill;
    }

    @include media-breakpoint-down('xl') {
      object-fit: cover;
    }
  }

  &__map {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -10;

    @include media-breakpoint-down('md') {
      position: relative;
      width: 100%;
      height: 400px;
      order: 2;
    }
  }

  &__contacts {
    padding-left: 38px;

    &-wrapper {
      width: calc(50% - 25px);
      margin-top: 354px;

      @include media-breakpoint-down('xl') {
        margin-top: 200px;
        margin-bottom: 200px;
      }

      @include media-breakpoint-down('lg') {
        margin-top: 150px;
        margin-bottom: 150px;
      }

      @include media-breakpoint-down('md') {
        width: 100%;
        margin-top: 210px;
        margin-bottom: 90px;
      }
    }

    &-header {
      margin-bottom: 54px;
      @extend .header__h4;
      color: #0489a8;

      &::after {
        width: 100%;
      }
    }

    &-tel {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      @extend .header__h5;
      color: #043c53;

      &:hover {
        cursor: pointer;
        color: #000;
        text-decoration: none;
        text-shadow: 0 4px 25px #0489a8;
      }

      img {
        display: block;
        width: 100%;
        max-width: 26px;
        height: 26px;
        margin-right: 18px;
        object-fit: contain;
      }
    }

    &-descr {
      @extend .text__big;
      color: #043c53;

      img {
        width: 26px;
        height: 26px;
        margin-right: 18px;
      }
    }
  }

  &__socials {
    display: flex;
    padding-left: 44px;

    &-icon {
      display: block;
      margin: 0 6px 18px;

      &:nth-child(1) {
        margin-left: 0;
      }

      &:nth-last-child(1) {
        margin-right: 0;
      }

      img {
        width: 38px;
        height: 38px;
      }
    }
  }

  &__button {
    display: block;
    width: 100%;
    max-width: 244px;
    margin-left: 44px;
    padding: 19px 63px 16px;
    border-radius: 35px;
    background-color: #0489a8;
    border: none;
    @extend .text__button;
    color: #ffffff;
    text-transform: uppercase;
  }
}
