.header {
  padding: 32px 0 38px;
  z-index: 50;

  &__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 50;

    @include media-breakpoint-down('lg') {
      flex-direction: column;
      padding: 20px 0;
    }
  }

  &__logo {
    @extend .header__h4;
    text-transform: uppercase;
    color: #0489A8;

    &:hover {
      text-decoration: none;
      text-shadow: 0 4px 25px #88d8cf;
    }

    span {
      &:nth-child(1) {
        color: #0489a8;
      }

      &:nth-child(2) {
        color: #48a490;
      }

      &:nth-child(3) {
        color: #043c53;
      }

      &:nth-child(4) {
        color: #043c53;
        text-transform: lowercase;
      }
    }
  }

  &__text {
    margin-bottom: 0;
    @extend .text__big;

    &:hover {
      cursor: default;
    }

    @include media-breakpoint-down('lg') {
      margin: 16px 0;
    }

    @include media-breakpoint-down('sm') {
      text-align: center;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;

    &-tel {
      @extend .header__h5;
      color: #000;

      &:hover {
        cursor: pointer;
        color: #000;
        text-decoration: none;
        text-shadow: 0 4px 25px #0489A8;
      }
    }

    &-callback {
      margin-left: 24px;
      padding: 17px 65px 18px;
      background: #0489A8;
      border: 0;
      border-radius: 35px;
      color: #fff;
      @extend .text__button;

      &:hover {
        cursor: pointer;
        box-shadow: 0 4px 25px #0489A8;
      }

      @include media-breakpoint-down('sm') {
        margin-left: 16px;
        padding: 17px 24px 18px;
      }
    }
  }
}
